In [1]:
# #Dict
# -Indexing
# -Multiple and dulicate ata
# -Ordered
# -Multiple

In [2]:
#d={<key>:<value> , <key>:<value>}

In [8]:
d={"a":"Apple","b":"Ball", "c":"Cat"}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [10]:
print(d["a"])
print(d["b"])

Apple
Ball

In [11]:
d={"a":"Apple","b":"Ball", "c":"Cat", "c":"cat"}  #latest displaces previous
d

{'a': 'Apple', 'b': 'Ball', 'c': 'cat'}

In [15]:
#create a dict
d={}
type(d)

dict

In [16]:
#create a dict
d=dict()
type(d)

dict

In [17]:
d={}
d["a"]="Apple"
d["b"]="Ball"
d["c"]="Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [20]:
#Value update
d={'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
d["a"]="Ant"
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [21]:
#only key
d={'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in d:
    print(i)

a
b
c

In [22]:
#only values
d={'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in d.values():
    print(i)

Apple
Ball
Cat

In [23]:
#all items
d={'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in d.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [24]:
#convert list into dict
d=[['a','Apple'], ['b','Ball'], ['c','Cat']]
dict(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [26]:
#dict of name and phone
d={}
n=int(input("Enter value n"))
for i in range(n):
    nm=input("Enter name")
    ph=input("Enter phone no")
    d[nm]=ph
print(d)

Enter value n2
Enter namesd
Enter phone no980
Enter nameaaa
Enter phone no999
{'sd': '980', 'aaa': '999'}

In [27]:
#No list as key in dict
d={['sd']: '980', ['aaa']: '999'}
d

TypeError: unhashable type: 'list'

In [29]:
#list inside dict
d={'sd': [980,977], 'aaa': [999,998]}
d

{'sd': [980, 977], 'aaa': [999, 998]}

In [30]:
#dict of name and 2 phone
d={}
n=int(input("Enter value n"))
for i in range(n):
    nm=input("Enter name")
    ph=input("Enter phone no")
    ph_ex=input("Enter phone no")
    d[nm]=[ph,ph_ex]
print(d)

Enter value n1
Enter namesd
Enter phone no980
Enter phone no999
{'sd': ['980', '999']}

In [33]:
print(d["sd"][0])

980

In [34]:
d={
    "name":["Ram","Shaym","Hari"],
    "age":[78,45,24],
    "add":["Ktm","Bkt","Pok"]
}

In [42]:
d={
    "name":[],
    "age":[],
    "address":[]
}
n=int(input("Enter n:"))
for i in range(n):
    nm=input("Enter name:")
    ag=int(input("Enter age:"))
    ad=input("Enter address:")
    d["name"].append(nm)
    d["age"].append(ag)
    d["address"].append(ad)
print(d)

Enter n:2
Enter name:ram
Enter age:32
Enter address:ktm
Enter name:sam
Enter age:21
Enter address:bkt
{'name': ['ram', 'sam'], 'age': [32, 21], 'address': ['ktm', 'bkt']}

In [43]:
#Details of ram
a={'name': ['ram', 'sam'], 'age': [32, 21], 'address': ['ktm', 'bkt']}
print("name",a["name"][0])
print("age",a["age"][0])
print("address",a["address"][0])

name ram
age 32
address ktm

In [5]:
# WAP to edit and delete above program
a={'name': ['ram', 'sam'], 'age': [32, 21], 'address': ['ktm', 'bkt']}
a["name"][0] = "John"
a["age"][0] = 28
a["address"][0] = "New York"
print(a)
del a["name"]
del a["age"]
del a["address"]
print(a)

{'name': ['John', 'sam'], 'age': [28, 21], 'address': ['New York', 'bkt']}
{}

In [47]:
#dict inside dict
d={"Physics":{"ptr":25,"th":60},
   "Chemistry":{"th":55,"ptr":25},
   "Maths":{"ptr":25,"th":67},
  }
#ptr value of phy
d["Physics"]["ptr"]

25

In [49]:
d["Physics"]["th"]=70
d

{'Physics': {'ptr': 25, 'th': 70},
 'Chemistry': {'th': 55, 'ptr': 25},
 'Maths': {'ptr': 25, 'th': 67}}

In [3]:
#WAP to create dict inside dict with CRUD(Create read update delete)
d={}
n=int(input("Enter n:"))
for i in range(1,n+1):
    nm=input("Enter name:")
    ag=int(input("Enter age:"))
    ad=input("Enter address:")
    d[i]={"name":nm,"age":ag,"address":ad}
    
print(d)

Enter n:2
Enter name:s
Enter age:17
Enter address:ktm
Enter name:d
Enter age:18
Enter address:ktm
{1: {'name': 's', 'age': 17, 'address': 'ktm'}, 2: {'name': 'd', 'age': 18, 'address': 'ktm'}}