In [1]:
# Python collection
# -list
# -Tuple
# -Dictionary
# -Set

In [2]:
# list
# -Indexing
# -Duplicate and multiple values
# -Ordered
# -Mutable

In [3]:
l=list()
l=[]

In [4]:
a=[1,2,3,4,5,6,7,8,9]
b=["Apple","Ball","cat","Dog","Fish"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [6]:
a=["Apple","Ball","cat","Dog","Fish"]   # value can be repeated
print(a[0])       #5 cant be written here i.e. a[5]
print(a[0:40])    #5 can be wwritten here
print(a[0:5:2])

Apple
['Apple', 'Ball', 'cat', 'Dog', 'Fish']
['Apple', 'cat', 'Fish']

In [7]:
# + 
a=[1,2,3,4]
b=[5,6,7,8]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
# *       (list must be multiplied by integer only)
a=[1,2,3,4]
b=3
c=a*b
print(c)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [14]:

l=[]
n=int(input("Enter n:"))
for i in range(n):
    x=int(input("Enter x:"))
    l=l+[x]
    
print(l)
print("The sum=",sum(l))
print("The maximum=",max(l))
print("The minimum=",min(l))
print("The average=",sum(l)/n)
l.sort()      #<---sorts in ascending order and saves in l
print(l)
l.reverse()   #<---first ascending and then only descending
print(l)

Enter n:3
Enter x:1
Enter x:5
Enter x:3
[1, 5, 3]
The sum= 9
The maximum= 5
The minimum= 1
The average= 3.0
[1, 3, 5]
[5, 3, 1]

In [15]:
a=["Apple","Ball","cat","Dog","Fish","Apple"]
a.sort()
print(a)

['Apple', 'Apple', 'Ball', 'Dog', 'Fish', 'cat']

In [16]:
#loop in list
a=["Apple","Ball","cat","Dog","Fish"]
for i in a:
    print(i)

Apple
Ball
cat
Dog
Fish

In [20]:
i=0
a=["Apple","Ball","cat","Dog"]
l=len(a)
while i<l:
    print(a[i])
    i=i+1

Apple
Ball
cat
Dog

In [21]:
# insert values
# append(), insert(), extend()

# delete values
# del remove(), pop()

In [22]:
a=[]
a.append("Apple")
a.append("Ball")
a.append("Dog")
a

['Apple', 'Ball', 'Dog']

In [24]:
l=[]
n=int(input("Enter n:"))
for i in range(n):
    x=int(input("Enter x:"))
    l.append(x)
print(l)

Enter n:2
Enter x:1
Enter x:5
[1, 5]

In [26]:
#insert()
a=["Apple","Apple","Fish","Fish","cat","cat"]
a.insert(1,"apple")
a

['Apple', 'apple', 'Apple', 'Fish', 'Fish', 'cat', 'cat']

In [29]:
#extend()
a=[1,2,3]
b=[4,5,6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [30]:
# delete values
# del remove(), pop()
a=["Apple","Apple","Fish","Fish","cat","cat"]
del a[0]
print(a)

['Apple', 'Fish', 'Fish', 'cat', 'cat']

In [32]:
a=["Apple","Apple","Fish","Fish","cat","cat"]
del a[0:3]
a

['Fish', 'cat', 'cat']

In [33]:
a=[0,1,2,3,4,5,6,7,8,9]
a.remove(0)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
a=["Apple","Apple","Fish","Fish","cat","cat"]
a.remove("Apple")
a

['Apple', 'Fish', 'Fish', 'cat', 'cat']

In [36]:
a=["Apple","Apple","Fish","Fish","cat","cat"]
a.remove("Apple")
a.remove("Apple")
a

['Fish', 'Fish', 'cat', 'cat']

In [38]:
a=["Apple","Apple","Fish","Fish","cat","cat"]
c=a.count("Apple")
for i in range(c):
    a.remove("Apple")
print(a)

['Fish', 'Fish', 'cat', 'cat']

In [39]:
#pop()
a=["Apple","Apple","Fish","Fish","cat","cat"]
a.pop(0)
print(a)

['Apple', 'Fish', 'Fish', 'cat', 'cat']

In [4]:
# list inside list
a=[[1,2,3],[4,5,6],[7,8,9]]
print(a)
print(a[0])
print(a[0][0])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
1

In [7]:
a=[["Ram",34,"Ktm"],
  ["Shyam",30,"Pkr"],
  ["Sita",25,"Chi"]]
print(a[0])
print(a[0][0])

['Ram', 34, 'Ktm']
Ram

In [1]:
l=[]
n=int(input("Enter n:"))
for i in range(n):
    nm=input("Enter name")
    ag=int(input("Enter age"))
    ad=input("Enter address")
    info=[nm,ag,ad]
    l.append(info)
    
print(l)

Enter n:3
Enter nameabc
Enter age22
Enter addressktm
Enter namedef
Enter age12
Enter addressasd
Enter nameghi
Enter age22
Enter addressacdc
[['abc', 22, 'ktm'], ['def', 12, 'asd'], ['ghi', 22, 'acdc']]

In [2]:
l=[['abc', 22, 'ktm'], ['def', 12, 'asd'], ['ghi', 22, 'acdc']]
# add new value
l.append(["New",40,"Jhp"])
l

[['abc', 22, 'ktm'],
 ['def', 12, 'asd'],
 ['ghi', 22, 'acdc'],
 ['New', 40, 'Jhp']]

In [3]:
# update value
l[0]=['Rama',32,"Chi"]
l

[['Rama', 32, 'Chi'],
 ['def', 12, 'asd'],
 ['ghi', 22, 'acdc'],
 ['New', 40, 'Jhp']]

In [4]:
l[0][0]="Ram prasad"
l

[['Ram prasad', 32, 'Chi'],
 ['def', 12, 'asd'],
 ['ghi', 22, 'acdc'],
 ['New', 40, 'Jhp']]

In [5]:
del l[0]
l

[['def', 12, 'asd'], ['ghi', 22, 'acdc'], ['New', 40, 'Jhp']]

In [28]:
a=[['Ram', 32, 'Chi'],
 ['def', 12, 'asd'],
 ['ghi', 22, 'acdc'],
 ['Ram', 40, 'Jhp']]
c=0
b=input("Enter a name")
for i in a:
    if i[0].lower()==b.lower:     #if b in i:
        print(i)
        c=c+1
if c==0:
    print("Name not found")
else:
    print(c,"no of rows found")

Enter a nameRam
['Ram', 32, 'Chi']
['Ram', 40, 'Jhp']
2 no of rows found

In [29]:
a=["Ram","Shyam","Hari","Ram"]
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))
else:
    print("No name found")

Yes
2

In [31]:
# WAP to create matrix taking number of rows,cloumn and data as input
# WAP to convert string into list inside list eg;
# split()
# Apple 300 1 300
# Banana 200 2 400
#         to
# [[Apple,300,1,300],
# [Banana,200,2,400]]
# WAP to create result management system in list inside list and perform CRL

In [1]:
#Matrix
#[[1,2,3],[4,5,6]]
a=[]
r=int(input("Enter rows"))
c=int(input("Enter column"))
for i in range(r):
    m=[]
    for j in range(c):
        z=int(input("Enter data"))
        m.append(z)
    a.append(m)
    
for i in range(r):
    for j in range(c):
        print(a[i][j],end="    ")
    print(" \n")

Enter rows3
Enter column3
Enter data1
Enter data2
Enter data3
Enter data4
Enter data5
Enter data6
Enter data7
Enter data8
Enter data9
1    2    3

4    5    6

7    8    9

In [4]:
gt=0
z=""
ab=""
x=[]
a=int(input("Enter total no of items:"))
for i in range(a):
    n=str(input("Enter product name:"))
    p=int(input("Enter price:"))
    q=int(input("Enter quantity:"))
    t=p*q
    z=z+n+" "+str(p)+" "+str(q)+" "+str(t)+"\n"
    ab=ab+n+" "+str(p)+" "+str(q)+" "+str(t)
    gt=gt+t
x.append(ab)
print("\nName Pri Qty Tot")
print(z)
print("Grand total:",gt)
print("\n",x,end=" ")

Enter total no of items:2
Enter product name:s
Enter price:1
Enter quantity:1
Enter product name:v
Enter price:1
Enter quantity:1

AttributeError: 'list' object has no attribute 'split'

Yes
2