In [1]:
# loop
# for loop
# while loop

In [4]:
# range(5)       #0,1,2,3,4   for(i=0;i<5;i++)
# range(1,5)     #1,2,3,4     for(i=1;i<5;i++)
# range(1,10,2)  #1,3,5,7,9   for(i=1;i<10;i=i+2)

In [6]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [7]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [10]:
for i in range(1,10,2):
    print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [2]:
#Multiplication number
n=int(input("Enter n:"))
for i in range(1,11):
    print(n,"X",i,"=",n*i)

Enter n:2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [8]:
#Total no of addn
s=0
n=int(input("Enter n:"))
for i in range(n):
    x=int(input("Enter x:"))
    s=s+x
print(s)

Enter n:4
Enter x:2
Enter x:4
Enter x:6
Enter x:8
20

In [13]:
s=""                         #s=str()     <- same
n=int(input("Enter n:"))
for i in range(n):
    x=str(input("Enter x:"))
    s=s+x+" "                #"\n     and  \t"
print(s)

Enter n:2
Enter x:a
Enter x:b
a b

In [3]:
s=""
n=int(input("Enter no of people:"))
for i in range(n):
    nm=input("Enter name:")
    ph=input("Enter phone:")
    s=s+nm+" "+ph+"\n"
print(s)

Enter no of people:2
Enter name:sulav
Enter phone:980
Enter name:abc
Enter phone:999
sulav 980
abc 999

In [4]:
# 5!=1*2*3*4*5

In [8]:
#Factorial
a=int(input("Enter a no:"))
b=1
for i in range(1,a+1):
    b=b*i
print(b)

Enter a no:5
120

In [1]:
# WAP to create a billing system
# ask nm, price,qnty, total, grand total

In [3]:
gt=0
z=""
a=int(input("Enter total no of items:"))
for i in range(a):
    n=str(input("Enter product name:"))
    p=int(input("Enter price:"))
    q=int(input("Enter quantity:"))
    t=p*q
    z=z+n+" "+str(p)+" "+str(q)+" "+str(t)+"\n"
    gt=gt+t
print("\nName Pri Qty Tot")
print(z)
print("Grand total:",gt)

Enter total no of items:2
Enter product name:coke
Enter price:100
Enter quantity:1
Enter product name:momo
Enter price:100
Enter quantity:2
Name Pri Qty Tot
coke 100 1 100
momo 100 2 200

Grand total: 300

In [5]:
# for loop in string
a="Apple"
for i in a:
    print (i,"Hello World")

A Hello World
p Hello World
p Hello World
l Hello World
e Hello World

In [9]:
a="Hello World. I am python"
for i in a:
    print(i,end="")

Hello World. I am python

In [12]:
a="Hello World. I am python"
for i in a:
    if i!=".":
        print(i,end="")

Hello World I am python

In [13]:
# control statements
# continue 
# break

In [14]:
#break statement
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [15]:
#break eg
a="Hello World. I am python"
for i in a:
    if i==".":
        break
    print(i,end="")

Hello World

In [18]:
#continue statement
for i in range(10):
    if i==5:
        continue
    print(i,end=" ")

0 1 2 3 4 6 7 8 9

In [19]:
#continue eg
a="Hello World. I am python"
for i in a:
    if i==".":
        continue
    print(i,end="")

Hello World I am python

In [24]:
#WAP to detect if a no is prime or composite

a=int(input("Enter a no."))
fac=0

for i in range(1,a+1):
    if a%i==0:
        fac=fac+1
    else:
        continue

if fac>2:
    print("Composite")
else:
    print("Prime")

Enter a no.9
Composite

In [35]:
#WAP to detect if a no is prime or composite
# for else 
a=int(input("Enter a no."))
for i in range(2,a):
    if a%i==0:
        print("Comosite")
        break
else:
    print("Prime")

Enter a no.3
Prime

In [1]:
# while (condition):
#     (operation)

In [2]:
a=0
while a<5:
    print(a,"Hello World")
    a=a+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [4]:
# * table using while
i=1
a=int(input("Enter a no."))
while i<=10:
    print(a,"X",i,"=",a*i)
    i=i+1

Enter a no.2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [2]:
i=0
s=0
n=int(input("Enter n:"))
while i<n:
    x=int(input("Enter x:"))
    s=s+x
    i=i+1
print(s)

Enter n:2
Enter x:1
Enter x:4
5

In [1]:
a=int(input("Enter a no:"))
b=1
i=1
while i<=a:
    b=b*i
    i=i+1
print(b)

Enter a no:5
120

In [2]:
#billing system using while
gt=0
z=""
i=0
a=int(input("Enter total no of items:"))
while i<a:
    n=str(input("Enter product name:"))
    p=int(input("Enter price:"))
    q=int(input("Enter quantity:"))
    t=p*q
    z=z+n+" "+str(p)+" "+str(q)+" "+str(t)+"\n"
    gt=gt+t
    i=i+1
print("\nName Pri Qty Tot")
print(z)
print("Grand total:",gt)

Enter total no of items:2
Enter product name:coke
Enter price:100
Enter quantity:2
Enter product name:momo
Enter price:100
Enter quantity:1

Name Pri Qty Tot
coke 100 2 200
momo 100 1 100

Grand total: 300

In [3]:
# control statements using while
# continue 
# break

In [4]:
#break
i=0
while i<10:
    if i==5:
        break
    print(i,end=" ")
    i=i+1

0 1 2 3 4

In [1]:
#continue
i=0
while i<10:
    if i==5:
        i=i+1            # -> i doesnt increase in if loop
        continue
    print(i,end=" ")
    i=i+1

0 1 2 3 4 6 7 8 9

In [3]:
#WAP to detect if a no is prime or composite
# for else 
i=2
a=int(input("Enter a no."))
while i<a:
    if a%i==0:
        print("Comosite")
        break
    i=i+1
else:
    print("Prime")

Enter a no.3
Prime

In [4]:
#nested for loop
for i in range(2):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1

In [8]:
for i in range(5):
    print(i*"*")

*
**
***
****

In [14]:
c=5
for i in range(5):
    print(c*".",(2*i-1)*"o")
    c=c-1

.....
.... o
... ooo
.. ooooo
. ooooooo

In [16]:
c=5
for i in range(5):
    print(c*" ",i*"o")
    c=c-1

     o
    oo
   ooo
  oooo