In [1]:
import mysql.connector     #importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="python_class"
)
db = database.cursor()

In [2]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 80, 88, 96, 86, 79, 480, 90.0, 'A')
(2, 'Hari', 90, 96, 89, 77, 87, 459, 86.0, 'A')
(3, 'Sita', 80, 66, 79, 97, 87, 429, 76.0, 'B')
(4, 'Geeta', 70, 80, 90, 78, 88, 400, 80.0, 'B')
(5, 'Babita', 80, 70, 80, 68, 58, 350, 70.0, 'B')

In [5]:
# db.execute("SELECT * FROM student WHERE grade='A'")

db.execute("SELECT * FROM student WHERE per>75 and grade='A'")

result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 80, 88, 96, 86, 79, 480, 90.0, 'A')
(2, 'Hari', 90, 96, 89, 77, 87, 459, 86.0, 'A')

In [4]:

db.execute("SELECT * FROM student WHERE name='Geeta'")
result =db.fetchall()
for x in result:
    print(x)

(4, 'Geeta', 70, 80, 90, 78, 88, 400, 80.0, 'B')

In [9]:
# insert
sql='''INSERT INTO student (name,physics,chemistry,math,english,nepali,total,per,grade) 
    VALUES ('Rita', 60, 70, 80, 87, 90, 400, 69, 'B')'''
db.execute(sql)
database.commit()

In [10]:
nm=input("Enter name:")
a=int(input("Enter marks of physics "))
b=int(input("Enter marks of chemistry "))
c=int(input("Enter marks of math "))
d=int(input("Enter marks of english "))
e=int(input("Enter marks of nepali "))
t=a+b+c+d+e
p=t/500*100

if p>80 or p==80:
    g="A"
elif p>60 or p==60:
    g="B"
elif p>40 or p==40:
    g="C"
else:
    g="F"
    
    
sql=f'''INSERT INTO student (name,physics,chemistry,math,english,nepali,total,per,grade) 
    VALUES ('{nm}', {a}, {b}, {c}, {d}, {e}, {t}, {p}, '{g}')'''
db.execute(sql)
database.commit()

Enter name:Pita
Enter marks of physics 80
Enter marks of chemistry 90
Enter marks of math 90
Enter marks of english 79
Enter marks of nepali 60
Total marks= 399  Percentage= 99.75 %

In [11]:
# update
sql="UPDATE student SET `name` = 'Pita' WHERE sn = 7"
db.execute(sql)
database.commit()

In [12]:
sql="DELETE FROM student WHERE sn = 7"
db.execute(sql)
database.commit()