In [ ]:
a=10
print(a)

In [3]:
a=10                                 #int
b=10.5
c="Hello World"
d=True                              #boolean
e=2+2j                           #complex number

print(a)
print(b)
print(c)
print(d)
print(e)
print(a,b,c,d)

10
10.5
Hello World
True
(2+2j)
10 10.5 Hello World True

In [18]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(a),type(b),type(c),type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [20]:
a=10
b=3
c=a+b
print(c)

c=a-b
print(c)

c=a*b
print(c)

c=a/b
print(c)

c=a**b      #a power b
print(c)

c=a//b      #whole number without decimal (float division)
print(c)

c=a%b         #Modulus
print(c)

13
7
30
3.3333333333333335
1000
3
1

In [25]:
a="Hello "
b="World"
c=a+b
print(c)

Hello World

In [24]:
a="Hello World"
print(a*2)          #enlargement

Hello WorldHello World

In [26]:
#String:
a='Hello World'
b="Hello World"
c='''Hello World'''

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [1]:
a=True                  #True-1, False-0
b=False
c=a+b
print(c)

1

In [2]:
a=True 
b=False
c=a*b
print(c)

0

In [3]:
#user defined
a=input()

10

In [6]:
a=input("Enter a ")
print(a)

Enter a 2
2

In [9]:
a=input("Enter a ")          #default input as string
b=input("Enter b ")
c=a+b
print(c)

Enter a 10
Enter b 20
1020

In [13]:
a=int(input("Enter a "))          #input as integer
b=int(input("Enter b "))
c=a+b
print(c)

Enter a 10
Enter b 20
30

In [11]:
a=float(input("Enter a "))          #input as float
b=float(input("Enter b "))
c=a+b
print(c)

Enter a 22
Enter b 11
33.0

In [1]:
p=int(input("Enter Principle "))
t=float(input("Enter time "))
r=float(input("Enter rate "))

i=p*t*r/100

print("The value of i=", i)

Enter Principle 1000
Enter time 2
Enter rate 10
The value of i= 200.0

In [3]:
a=int(input("Enter marks of maths "))
b=int(input("Enter marks of physics "))
c=int(input("Enter marks of chemistry "))
d=int(input("Enter marks of computer "))
t=a+b+c+d
p=t/400*100
print("Total marks=",t," Percentage=",p,"%")

Enter marks of maths 90
Enter marks of physics 90
Enter marks of chemistry 90
Enter marks of computer 99
Total marks= 369  Percentage= 92.25 %

In [4]:
#int to str conversion     str() int() float() bool()
a=10
b=str(a)
b

'10'

In [9]:
a="10"
b=int(a)
b

10

In [7]:
a="10"
b=float(a)
b

10.0

In [10]:
a=0
b=bool(a)
b

False

In [14]:
a=-1            #any integer except 0 is true
b=bool(a)
b

True

In [12]:
a="0"
b=bool(a)
b

True

In [13]:
a=""             #anything except blank in string is true in boolean
b=bool(a)
b

False

In [4]:
n=input("Enter your name ")
ag=int(input("Enter your age "))
add=input("Enter your address ")

info="Hello world I am "+ n +" I am from "+ add +" I am "+str(ag)
print(info)

Enter your name sd
Enter your age 17
Enter your address ktm
Hello world I am sd I am from ktm I am 17

In [1]:
a=0.1
b=0.2
print(a+b)

0.30000000000000004

In [2]:
0.1+0.2==0.3

False

In [5]:
0.1+0.2==0.30000000000000004

True