In [1]:
# # Set
# -No indexing
# -Multiple value but no duplicate value
# -Unordered
# -Mutable

In [3]:
s={1,2,3,4,5,6,7,8,9}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
# a=()    <-- dictionary
a=set()
a

set()

In [5]:
a={"Apple","Ball","Cat","Dog","Fish","Goat"}
print(a)

{'Cat', 'Apple', 'Ball', 'Fish', 'Goat', 'Dog'}

In [6]:
a[0]

TypeError: 'set' object is not subscriptable

In [8]:
a={"Apple","Ball","Cat","Dog","Fish","Goat"}
for i in a:
    print(i)

Cat
Apple
Ball
Fish
Goat
Dog

In [2]:
a={"Apple","Ball","Cat","Dog","Fish","Goat","Apple","Cat"}
a

{'Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat'}

In [3]:
# Set funcn:
#     add()
#     remove()
#     update

In [5]:
s=set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
s

{'Apple', 'Ball', 'Cat'}

In [11]:
# WAP to create set taking values from users
a=set()
n=int(input("Enter n:"))
for i in range(n):
    x=input("Enter value: ")
    a.add(x)
    
print(a)

Enter n:2
Enter valueab
Enter valuecd
{'cd', 'ab'}

In [7]:
a={"Apple","Ball","Cat"}
b={1,2,3,4,5}
a.update(b)
a

{1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat'}

In [12]:
# intersection()
# union()
# difference()

In [13]:
sk={"python","html","django","css","js"}
jb={"python","django","html","css","java","c","c++",".net"}

sk.intersection(jb)    #common values

{'css', 'django', 'html', 'python'}

In [14]:
sk.union(jb)

{'.net', 'c', 'c++', 'css', 'django', 'html', 'java', 'js', 'python'}

In [15]:
# skills in u but not in job
sk.difference(jb)     #skills-job

{'js'}

In [16]:
# skills in job but not in u
jb.difference(sk)     #job-skills

{'.net', 'c', 'c++', 'java'}

In [1]:
# No mutable datatype inside set
# inside set -no list, dict, set but only tuple

In [2]:
s={[1,2,3],[4,5,6]}
s

TypeError: unhashable type: 'list'

In [3]:
s={{1,2,3},{4,5,6}}
s

TypeError: unhashable type: 'set'

In [4]:
s={(1,2,3),(4,5,6)}
s

{(1, 2, 3), (4, 5, 6)}