In [2]:
a='Hello World'
b="Hello World"
c='"Hello World"'
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
a='Hello'
b="World"
c=a+b
print(c)

HelloWorld

In [4]:
a=input("Enter a:")
print(a)

Enter a:abc
abc

In [8]:
a="Hello World"
print(a[0])
print(a[0:5])
print(a[0:10:2])

H
Hello
HloWr

In [9]:
a="Hello World"
print(a[-1])

d

In [11]:
a="Hello World"
print(a[-2])

l

In [12]:
a="Hello World"
print(a[::-1])

dlroW olleH

In [14]:
a="Hello World"
print(a[-1:-12:-1])   #if no of letter is known
print(a[::-1])   #if no of letter is unknown

dlroW olleH
dlroW olleH

In [16]:
a="Hello World"
l=len(a)
for i in range(l):
    print(a[i],end="")

Hello World

In [1]:
n='SD'
ag=17
ad='KTM'

info='Hello World. Im '+n+'. Im from '+ad+' and '+str(ag)+ ' yrs of age'
print(info)

Hello World. Im SD. Im from KTM and 17 yrs of age

In [3]:
#string formatting
n=input("Enter yr name")
ag=int(input("Enter yr age"))
ad=input("Enter yr address")

info=f"Hello world, I am {n}. Im from {ad}. Im {ag}" 
print(info)

Enter yr namesd
Enter yr age17
Enter yr addressktm
Hello world, I am sd. Im from ktm. Im 17

In [4]:
#billing system
gt=0
z=""
a=int(input("Enter total no of items:"))
for i in range(a):
    n=str(input("Enter product name:"))
    p=int(input("Enter price:"))
    q=int(input("Enter quantity:"))
    t=p*q
    z=z+f"{n} {p} {q} {t}\n"
    gt=gt+t
print("\nName Pri Qty Tot")
print(z)
print("Grand total:",gt)

Enter total no of items:2
Enter product name:coke
Enter price:100
Enter quantity:2
Enter product name:momo
Enter price:100
Enter quantity:1

Name Pri Qty Tot
coke 100 2 200
momo 100 1 100

Grand total: 300

In [9]:
#to search things in string
a="ram shyam hari sita gita nabin"
n=input("Enter name:")
if n in a:
    print("Yes")
    print(a.count(n))
else:
    print("There is no",n)

Enter name:sas
There is no sas

In [12]:
a="Ram Shyam Hari Sita Gita Nabin"
print(a.upper())
print(a.lower())
print(a)

RAM SHYAM HARI SITA GITA NABIN
ram shyam hari sita gita nabin
Ram Shyam Hari Sita Gita Nabin

In [14]:
#to search things in string
a="Ram Shyam Hari Sita Gita Nabin Ram Akash Ramesh".lower()  #ram in ramesh
n=input("Enter name:")
if n in a:
    print("Yes")
    print(a.count(n))
else:
    print("There is no",n)

Enter name:ram
Yes
3

In [16]:
#replace
a="Ram Shyam Hari Sita Gita Nabin Ram Akash Ramesh"
a=a.replace("Ram","ram")
print(a)

ram Shyam Hari Sita Gita Nabin ram Akash ramesh

In [17]:
#replace
a="Ram Shyam Hari Sita Gita Nabin Ram Akash Ramesh"
a=a.replace("Ram ","ram ")
print(a)

ram Shyam Hari Sita Gita Nabin ram Akash Ramesh

In [18]:
#remove
a="Ram Shyam Hari Sita Gita Nabin Ram Akash Ramesh"
a=a.replace("Ram","")
print(a)

 Shyam Hari Sita Gita Nabin  Akash esh

In [19]:
#remove
a="Ram Shyam Hari Sita Gita Nabin Ram Akash Ramesh"
a=a.replace("Ram ","")
print(a)

Shyam Hari Sita Gita Nabin Akash Ramesh

In [20]:
a="ram shyam hari sita gita nabin"
a.title()

'Ram Shyam Hari Sita Gita Nabin'

In [22]:
a="ram shyam hari sita gita nabin"
a.split()

['ram', 'shyam', 'hari', 'sita', 'gita', 'nabin']

In [24]:
a="hello world"
l=len(a)
i=0
while i<l:
    print(a[i],end="")
    i=i+1

hello world